 .cred {
     display: block;
     margin: auto;
     margin-bottom: 1.2rem;
     padding: 0 0 3px 15px;
     width: 16rem;
     height: 2.6rem;
     color: #8c8c8c;
     border-width: 1px;
     border-radius: 5px;
     color: black;
 }

 .signup {
     position: relative;
     top: 0rem;
     width: 16rem;
     padding: 1%;
     border: 1px solid rgb(173, 173, 173);
     border-radius: 8px;
     color: black;
     transition: all 0.4s ease;
 }

 .signup:hover {
     cursor: pointer;
     background-color: rgb(173, 173, 173) !important;
     color: #fff;
 }


 .container {
     margin-top: 0rem !important;
 }