.banner {
  background-image: url("/banner2.png");
  background-position: bottom right;
  background-size: 58%;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  align-items: center;



}






.lead {
  color: #4885ed;
}

.btn {
  background-color: #4885ed;
}


@media (max-width: 768px) {
  .banner {
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 80vw;


  }

}

@media (min-width: 1550px) {
  .banner {
    min-height: 90vh;
  }
}

@media (min-width: 2100px) {
  .banner {
    min-height: 140vh;
  }
}

@media (min-width: 2500px) {
  .banner {
    min-height: 160vh;
  }
}