.banner{
    background-image: url("./homebanner.png");
    background-position: bottom right; 
    background-size: 38%; 
    background-repeat: no-repeat;
    min-height: 85vh;
    min-width: 80vw;
    display: flex;
    align-items: center;
  }

  .lead{
    color: #4885ed;
  }

  .btn{
    background-color: #4885ed;
  }


  @media (max-width: 768px) {
    .banner {
      background-image: none;
    }

  }

  @media (min-width: 2000px) {
    .banner {
      min-height: 110vh;
    }
  }
