body {
    overflow-x: hidden;
}

.category {
    margin-bottom: 2rem;
}

.sliderr {
    margin-bottom: 10rem;
    /* background-color: black; */

}


.slick-arrow {
    background-color: black;
    border-radius: 100%;
}

.slick-arrow:hover {
    background-color: black;
}

.slick-dots {
    position: relative;
    top: 3rem;
}

.slider-card {
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}


.slider-name {
    font-size: 22px;
    font-weight: 500;
    color: #333;

}


.slick-slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 280px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.slider-image {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    margin-bottom: 10px;
    margin: 0 auto;
}

.slick-slide p {
    margin: 10px 0;
    text-align: center;
}


@media (max-width: 1450px) {
    .slick-dots {
        position: relative;
        top: 1rem;
    }
}

@media (max-width: 400px) {
    .slick-slide div {
        width: 270px;
        height: 340px;
    }
}

@media (max-width: 370px) {
    .slick-slide div {
        width: 240px;
        height: 320px;
    }
}