body {
    overflow-x: hidden;
}

.category {
    margin-bottom: 2rem;
}

.sliderr {
    margin-bottom: 8rem;
    /* background-color: black; */

}


.slick-arrow {
    background-color: #006aff;
    border-radius: 100%;
}

.slick-arrow:hover {
    background-color: #93bffc;
    transition: 0.1s;
}

.slick-dots {
    position: relative;
    top: 3rem;
    color: #006aff;
}

.slick-dots li button:before {
    color: #006aff;
}

.slick-dots li.slick-active button:before {
    color: #006aff;
}



.slider-card {
    text-align: center;
    padding: 20px;
    background-color: #598eea;
    border-radius: 10px;
    cursor: pointer;
    /* border: 2px solid rgb(0, 50, 187); */
}




.slider-name {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;

}

.slider-batch {
    margin-top: -0.5rem !important;
    color: #f7f4f4 !important;
    font-size: 14px !important;
    font-weight: 50 !important;
}


.slick-slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 280px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}


.slider-image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 6px solid rgb(178, 199, 255);
    margin-bottom: 10px;
    margin: 0 auto;
}

.slick-slide p {
    margin: 10px 0;
    text-align: center;
}


@media (max-width: 3050px) {
    .slick-slide div {
        margin: auto;
    }
}

@media (max-width: 1450px) {
    .slick-dots {
        position: relative;
        top: 1rem;
    }
}

@media (max-width: 500px) {
    .slick-slide div {
        width: 270px;
        height: 340px;

    }
}

@media (max-width: 370px) {
    .slick-slide div {
        width: 260px;
        height: 330px;
    }
}